#loading-bar-spinner {
    position: absolute;
    top: auto;
    bottom: -50px;
    z-index: 1049;
}

#loading-bar .bar{
	display: block;
    position: absolute;
    left: auto;
    top: auto;
    z-index: 1049;
    height: 10px;
}

#loading-bar-spinner .spinner-icon {
  width: 25px;
  height: 25px;
	display: block;

  border:  solid 2px transparent;
  border-top-color:  #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: loading-bar-spinner 400ms linear infinite;
  -moz-animation:    loading-bar-spinner 400ms linear infinite;
  -ms-animation:     loading-bar-spinner 400ms linear infinite;
  -o-animation:      loading-bar-spinner 400ms linear infinite;
  animation:         loading-bar-spinner 400ms linear infinite;
}

#finalSelecter {
  margin-bottom: 30px;
}

#logPanel {
  padding-top: 10px;
  padding-bottom: 10px;
}

#addTournyError {
  margin-top:10px;
}

#editTournyError {
  margin-top:10px;
}

#teamError {
  margin-top: 10px;
}

#teamSuccess {
  margin-top: 10px;
}

#addDivisionError {
  margin-top: 15px;
  margin-bottom: 0px;
}

#changeTeamName {

}

#timeIntervalsTeam {
  margin-top:25px;
}

.tlist{
  width: 200px;
}

.brugerInput{
  background-color: #fff;
}

.upload-excel {
  margin-top: 15px;
}

.upload-excel input {
  vertical-align: center;
}

.add-button button {
  margin-top: 10px;
}

body {
  padding-top: 70px;
  /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  
.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}

.pools {
  margin-bottom: 10px;
}

#uploadHeading {
  text-align: left;
}

.finals-select {
  margin-top: 10px;
}

#kodeord {

}

.poolLink{
  color: #fff;
}

.poolLink:hover {
  text-decoration: none;
}

#banner {
  width:auto;
  overflow:hidden;
  margin-top: -25px;
  border-radius: 10px;
}

#banner img {
  width: 100%;
}

.footer {
  margin-top: 250px;

}

.navbar-brand img{
  height: 175%;
  margin-top: -6px;
  display: inline;
}

#errorMsg {
  margin-top: 10px;
  width: 80%;
  margin-left: 10%;
}

#NewTournamentButton {
  margin-top: 10px;
}

.navbar-fixed-bottom {
  background-color: #222;
}

.panel {
  margin-bottom: 0px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.panel-body {
  font-size: 12px;
  margin: -5px;
}

#divisionBtn {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

#uploadHeading {
  text-align: center;
}

.toTop {
  color: #808080;
  margin-top: 15px;
}

#puljeHeading {
  margin-top: 50px;
}

#poolViewTable {
  margin-top: 15px;
}

#divisionSearch {
  margin-bottom: 15px;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

#tisButton {
  margin-top: 50px;
}

@media handheld, only screen and (max-width: 400px){ 
   div#banner { display:none; 
}