<div class="row">
  <div class="col-lg-12 text-center">
    <ul class="breadcrumb">
      <li><a href="#/">Forside</a></li>
      <li><a href="#/addTournament">Opret ny turnering</a></li>
      <li><a href="#/tournament">Turneringsoversigt</a></li>
      <li class="active"><a href="">{{ divisions.Name }}</a></li>
    </ul>
    <div id="changeDivName">
      <div ng-if="!changeName">
        <h1>
          <span>{{ division.Name }}</span>
          <a ng-click="changeDivNameFunc()" class="btn btn-xs btn-primary divisionEditBtn" data-toggle="tooltip" data-placement="right" title="Ændre rækkens navn">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
        </h1>
      </div>
      <div class="form-inline">
        <div ng-if="changeName" class="form-group col-md-4 col-md-offset-4">
          <input type="text" ng-model="newDivName" class="form-control" placeholder="{{division.Name}}" />
          <span>
          <input ng-click="changeNewDivNameFunc(newDivName)" class="btn btn-primary" value="Gem" />
          <a ng-click="changeDivNameFunc()" class="btn btn-danger">Annuller</a>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4" ng-if="newPool">
        <hr />
        <div class="form-inline">
          <div class="form-group">
            <form>
              <input type="text" ng-model="newPoolName" class="form-control" placeholder="Indtast puljenavn.."/>
              <input type="submit" ng-click="addPool(newPoolName); newPoolName = ''" class="btn btn-primary" value="Tilføj" />
              <a ng-click="newPoolFunc()" class="btn btn-danger">Annuller</a>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-4" ng-if="!newPool">
        <hr />
        <a ng-if="!new" class="btn btn-info col-md-12" ng-click="newPoolFunc()">Tilføj ny pulje</a>
      </div>
    </div>
    <div ng-repeat="pool in division.Pools track by $index" >
      <div class="col-md-4 text-center">
        <a class="poolLink">
         <h2 ng-click="gotoPool(pool, $index)" >{{ pool.Name }}</h2>
       </a>
       <div class="pools">
        <a ng-click="gotoTeam(pool.Teams, $indexT)" ng-repeat="team in pool.Teams" class="btn btn-default col-md-12" style="white-space: inherit ! important;">
          {{ team.Name }}
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <hr />
      <div class="col-md-2 col-md-offset-3">
        <h4>Kamplængde</h4>
        <div ng-if="!changeDuration">
          <p>{{ division.MatchDuration }} min. pr. kamp<span ng-click="changeDurationFunc()" class="glyphicon glyphicon-pencil"></span></p>
        </div>
        <div ng-if="changeDuration">
          <input type="number" class="form-control" ng-model="newMatchDuration" placeholder="Tid pr. kamp for rækken" min="10" max="70" required="true" />
          <a ng-click="changeNewDurationFunc(newMatchDuration)" class="btn btn-xs btn-default">Gem</a>
        </div>
      </div>
      <div class="col-md-2">
        <a class="btn btn-danger" ng-click="remove()">Slet række</a>
      </div>
      <div class="col-md-2">
        <h4>Banestørrelse</h4>
        <div ng-if="!changeField">
          <p>{{ division.FieldSize }}-mands bane <span ng-click="changeFieldFunc()" class="glyphicon glyphicon-pencil"></span></p>
        </div>
        <div ng-if="changeField">
          <select ng-model="FieldSize">
            <option value="11">11-mands</option>
            <option value="8">8-mands</option>
            <option value="5">5-mands</option>
          </select>
          <a ng-click="changeNewFieldFunc(FieldSize)" class="btn btn-xs btn-default">Gem</a>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="col-lg-12 text-center">
    <div class="finalStage">

      <h4>Slutspilsindstillinger</h4>
      <hr />
      
      <div class="col-md-12">
        <div class="col-md-3" ng-repeat="team in division.Pools[0].Teams track by $index">
          {{ $index+1 }}. plads går videre til
          <select ng-options="letter as letter.ch for letter in division.letters" ng-model="selectedLetter" ng-change="finalsLinkChanged(selectedLetter, $index)"></select>
        </div>
      </div>
      <select class="finals-select">
        <option value="">Knockout</option>
        <option value="">Round Robin</option>
        <option value="">Round Robin med finaler</option>
      </select>

      <p></p>
      <p>{{ selectedLetter }}</p>
      <p></p>
      <button ng-click="updateFL()" class="btn btn-default">Opdater</button>
    </div>
    
  </div>
</div>
</div>
