<div class="row">
  <div class="col-lg-12 text-center">
    <h1>Opret ny turnering</h1>
    <div class="row">
      <div class="brugerInput">
        <div class="col-md-6">
          <h4>Turnerings navn</h4>
          <input type="text" class="form-control" placeholder="Skriv turneringens navn" />
        </div>
        <div class="col-md-6">
          <h4>Turnerings kodeord</h4>
          <input type="text" class="form-control" placeholder="Skriv turneringens kodeord" />
        </div>
        <div class="col-md-6" id="">
          <h4>Turnerings start dag</h4>
          <input type="date" name="bday" />
        </div>
        <div class="col-md-6">
          <h4>Turnerings slut dag</h4>
          <input type="date" name="bday" />
        </div>
        <div class="col-md-4">
          <h4>Tid for dag1</h4>
          <input type="time" name="usr_time" />
          -
          <input type="time" name="usr_time" />
        </div>
        <div class="col-md-4">
          <h4>Tid for dag2</h4>
          <input type="time" name="usr_time" />
          -
          <input type="time" name="usr_time" />
        </div>
        <div class="col-md-4">
          <h4>Tid for dag3</h4>
          <input type="time" name="usr_time" />
          -
          <input type="time" name="usr_time" />
        </div>
        <div class="col-md-12 upload-excel">
          <h4>Upload Excel ark for turnering</h4>
          <input type="file" name="pic" accept="image/*" />
          <input class="btn btn-default" type="submit" value="Upload" />
        </div>
        <div class="row">
          <div class="col-md-12 add-button">
            <a href="#addFields"><button class="btn btn-default">Tilføj baner</button></a>
          </div>
          <div class="col-md-12 add-button">
            <a href="#/divisions"><button type="button" class="btn btn-default btn-lg">Opret turnering</button></a>
          </div>
        </div>
      </div>
    </div>                
  </div>
</div>
