<div class="row">
  <div class="col-lg-12 text-center">
    <h1>Opret ny turnering</h1>
    <hr>
    <div class="row">
      <div class="brugerInput">
        <div class="col-md-6">
          <h4>Turnerings navn</h4>
          <input type="text" class="form-control" placeholder="Skriv turneringens navn" />
        </div>
        <div class="col-md-6">
          <h4>Turnerings kodeord</h4>
          <input type="text" class="form-control" placeholder="Skriv turneringens kodeord" />
        </div>

        <div class="col-md-6">
          <h4>Turnerings start dag</h4>
          <div ng-controller="DatepickerDemoCtrl">
            <div class="row">
              <div class="col-md-12">
                <p class="input-group">
                  <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <h4>Turnerings slut dag</h4>
          <div ng-controller="DatepickerDemoCtrl">
            <div class="row">
              <div class="col-md-12">
                <p class="input-group">
                  <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>


        <div class="col-md-4">
          <h4>Tid for dag1</h4>
          <input type="time" name="usr_time" />
          -
          <input type="time" name="usr_time" />
        </div>
        <div class="col-md-4">
          <h4>Tid for dag2</h4>
          <input type="time" name="usr_time" />
          -
          <input type="time" name="usr_time" />
        </div>
        <div class="col-md-4">
          <h4>Tid for dag3</h4>
          <input type="time" name="usr_time" />
          -
          <input type="time" name="usr_time" />
        </div>
        <hr />
        <div class="col-md-12 upload-excel">
        <hr>
          <h4 id="uploadHeading">Upload Excel ark for turnering</h4>
          <a class="btn btn-default" ng-click="withExcel()">Upload</a>
          <p ng-if="!helper">Du har uploaded data</p>
          <hr>
        </div>
        <div class="row">
          <div class="col-md-12 add-button">
            <a href="#/addFields"class="btn btn-default btn-lg" style="white-space: inherit ! important;">Forsæt
              <span class="glyphicon glyphicon-arrow-right"> </span>
            </a>
          </div>
        </div>
      </div>
    </div>                
  </div>
</div>
