<div class="row">
  <div class="col-lg-12 text-center">
    <ul class="breadcrumb">
      <li><a ng-click="gotoTournament()">Turneringsoversigt</a></li>
      <li><a ng-click="gotoDivision()">Rækkeoversigt</a></li>
      <li><a>{{ pool.Name }}</a></li>
    </ul>
    <div id="changePoolName">
      <div ng-if="!changeName">
        <h1>
          <span>{{ pool.Name }}</span>
          <a ng-click="changePoolNameFunc()" class="btn btn-xs btn-primary poolEditBtn" data-toggle="tooltip" data-placement="right" title="Ændre puljens navn">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
        </h1>
      </div>
      <div class="form-inline">
        <div ng-if="changeName" class="form-group col-md-4 col-md-offset-4">
          <input type="text" ng-model="newPoolName" class="form-control" placeholder="{{pool.Name}}" />
          <span>
          <input type="submit" ng-click="changeNewPoolNameFunc(newPoolName)" class="btn btn-primary" value="Gem" />
          <a ng-click="changePoolNameFunc()" class="btn btn-danger">Annuller</a>
          </span>
        </div>
      </div>
    </div>
    <hr />
    <div>
      <div class="col-md-4 col-md-offset-4" ng-if="pool.IsOpen">
        <div class="form-inline">
          <div class="form-group">
            <form>
              <input type="text" ng-model="newTeamName" />
              <input type="submit" ng-click="addTeamToPool(newTeamName, $index); newTeamName = ''" class="btn btn-primary" value="Submit" />
              <a ng-click="pool.IsOpen = false" class="btn btn-danger">Annuller</a>
            </form>
          </div>
        </div>
      </div>
      <div class="btn-group-vertical col-md-4 col-md-offset-4" role="group">
    	  <a ng-if="!pool.IsOpen" class="btn btn-info" ng-click="pool.IsOpen = true" style="white-space: inherit ! important;">
    	    Tilføj nyt hold
    	    <span ng-click="addTeamToPool(newTeamName, $index); newTeamName = ''"></span>
    	  </a>
    	  <div class="pools">
    	    <a ng-click="gotoTeamDetail(team, $index)" ng-repeat="team in pool.Teams" class="btn btn-default col-md-12" style="white-space: inherit ! important;">
    	      {{ team.Name }}
    	    </a>
    	  </div>
    	</div>
    </div>
    <div class="row">
      <div class="col-md-12">
      <hr />
        <div class="col-md-5">
          <h4>Puljes favorit bane</h4>
          <div ng-if="pool.FieldSize === 11">
            <label class="checkbox-inline" ng-repeat="Emfield in EmField track by $index" >
              <input type="checkbox" ng-click="setFavFieldFunc(Emfield.Id)" ng-checked="FavoriteFieldIds.indexOf(Emfield.Id) > -1" /> {{Emfield.Name}}
            </label> 
          </div>
          <div ng-if="divisionFieldSize === 8">
            <label class="checkbox-inline" ng-repeat="Omfield in OmField track by $index" >
              <input type="checkbox" ng-click="setFavFieldFunc(Omfield.Id)" ng-checked="FavoriteFieldIds.indexOf(Omfield.Id) > -1" /> {{Omfield.Name}}
            </label> 
          </div>
          <div ng-if="divisionFieldSize === 5">
            <label class="checkbox-inline" ng-repeat="Fmfield in FmField track by $index" >
              <input type="checkbox" ng-click="setFavFieldFunc(Fmfield.Id)" ng-checked="FavoriteFieldIds.indexOf(Fmfield.Id) > -1"/> {{Fmfield.Name}}
            </label> 
          </div>
        </div>
        <div class="col-md-2">
          <a class="btn btn-danger" ng-click="remove(pool)">Slet pulje</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <table class="table table-hover" id="poolViewTable">
          <tr>
            <th>Hold 1</th>
            <th>Hold 2</th>
          </tr>
          <tr ng-repeat="match in pool.Matches track by $index">
            <td> {{match.Team1.name}} </td>
            <td> {{match.Team2.name}} </td>
          </tr>
        </table>
      </div>
      </div><div class="row">
      <div class="col-md-12 text-center">
        <div class="col-md-3">
          <form id="divisionSearch">
            <div class="inner-addon left-addon">
              <i class="glyphicon glyphicon-search"></i>
              <input type="text" class="form-control" placeholder="Søg.." ng-model="searchFilter" />
            </div>
          </form>
        </div>
        <table class="table table-bordered table-hover table-responsive">
          <thead>
            <tr>
              <th>
                <a href="" ng-click="orderByField='Number'; reverseSort = !reverseSort">
                Kamp nr. <span ng-show="orderByField == 'Number'"><span ng-show="!reverseSort" class="glyphicon glyphicon-circle-arrow-up"></span><span ng-show="reverseSort" class="glyphicon glyphicon-circle-arrow-down"></span></span>
                </a>
              </th>
              <!--<th>
                <a href="" ng-click="orderByField='date'; reverseSort = !reverseSort">
                Dag <span ng-show="orderByField == 'date'"><span ng-show="!reverseSort" class="glyphicon glyphicon-circle-arrow-up"></span><span ng-show="reverseSort" class="glyphicon glyphicon-circle-arrow-down"></span></span>
                </a>
              </th>
              <th>
                <a href="" ng-click="orderByField='time'; reverseSort = !reverseSort">
                Tid <span ng-show="orderByField == 'time'"><span ng-show="!reverseSort" class="glyphicon glyphicon-circle-arrow-up"></span><span ng-show="reverseSort" class="glyphicon glyphicon-circle-arrow-down"></span></span>
                </a>
              </th>-->
              <th>
                <a href="" ng-click="orderByField='Field.Name'; reverseSort = !reverseSort">
                Bane <span ng-show="orderByField == 'Field.Name'"><span ng-show="!reverseSort" class="glyphicon glyphicon-circle-arrow-up"></span><span ng-show="reverseSort" class="glyphicon glyphicon-circle-arrow-down"></span></span>
                </a>
              </th>
              <th>
                <a href="" ng-click="orderByField='Team1.name'; reverseSort = !reverseSort">
                  Hold 1 <span ng-show="orderByField == 'Team1.name'"><span ng-show="!reverseSort" class="glyphicon glyphicon-circle-arrow-up"></span><span ng-show="reverseSort" class="glyphicon glyphicon-circle-arrow-down"></span></span>
                </a>
              </th>
              <th>
                <a href="" ng-click="orderByField='Team2.name'; reverseSort = !reverseSort">
                Hold 2 <span ng-show="orderByField == 'Team2.name'"><span ng-show="!reverseSort" class="glyphicon glyphicon-circle-arrow-up"></span><span ng-show="reverseSort" class="glyphicon glyphicon-circle-arrow-down"></span></span>
                </a>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="match in pool.Matches | orderBy:orderByField:reverseSort | filter:searchFilter">
              <td> {{match.Number}} </td>
              <!--<td> {{}} </td> -->
              <!--<td> {{}} </td> -->
              <td> {{match.Field.Name}} </td>
              <td><a ng-click="gotoTeam(match.Team1, pool)"> {{match.Team1.name}} </a></td>
              <td><a ng-click="gotoTeam(match.Team2, pool)"> {{match.Team2.name}} </a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>