<div class="row">
  <div class="col-md-12 text-center">
    <h2>{{ Teams[index] }}</h2>
  </div>
  <div class="col-md-4">
    <h4>Tid for dag1</h4>
    <input type="time" name="usr_time" />
    -
    <input type="time" name="usr_time" />
  </div>
  <div class="col-md-4">
    <h4>Tid for dag2</h4>
    <input type="time" name="usr_time" />
    -
    <input type="time" name="usr_time" />
  </div>
  <div class="col-md-4">
    <h4>Tid for dag3</h4>
    <input type="time" name="usr_time" />
    -
    <input type="time" name="usr_time" />
  </div>
</div>