<div class="row">
  <div class="col-md-12 text-center">
    <ul class="breadcrumb">
      <li><a href="#/">Forside</a></li>
      <li><a href="#/addTournament">Opret ny turnering</a></li>
      <li><a href="#/tournament">Rækkesoversigt</a></li>
      <li><a href="#/division">{{ division.Name }}</a></li>
      <li><a href="#/pool">{{ pool.Name }}</a></li>
    </ul>
    <div id="changeTeamName">
      <div ng-if="!changeName">
        <h1>
          <span>{{ team.Name }}</span>
          <a ng-click="changeTeamNameFunc()" class="btn btn-xs btn-primary teamEditBtn" data-toggle="tooltip" data-placement="right" title="Ændre holdets navn">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
        </h1>
      </div>
      <div class="form-inline">
        <div ng-if="changeName" class="form-group col-md-4 col-md-offset-4">
          <input type="text" ng-model="newTeamName" class="form-control" placeholder="{{team.Name}}" />
          <span>
          <input type="submit" ng-click="changeNewTeamNameFunc(newTeamName)" class="btn btn-primary" value="Gem" />
          <a ng-click="changeTeamNameFunc()" class="btn btn-danger">Annuller</a>
          </span>
        </div>
      </div>
    </div>
    <hr />
    <!-- Timeintervals -->
    <div class="row">
      <div class="col-md-4" ng-repeat="x in dateArray">
        <h4>Tider for den {{x | date: "d. MMM"}}</h4>
        <div class="col-md-12" style="display: inline-flex">
          <div class="col-md-5">
            <uib-timepicker ng-model="startTimes[$index]"  show-meridian="false"></uib-timepicker>
          </div>            
          <div class="col-md-2" style="margin-top: auto; margin-bottom: auto; display: block;">-</div>
          <div class="col-md-5">
            <uib-timepicker ng-model="endTimes[$index]" show-meridian="false"></uib-timepicker>
          </div>
        </div>
      </div>
    </div>
    <input type="submit" value="Gem" class="btn btn-primary" ng-click="uploadTeam()" />
    <p ng-if="error">{{error}}</p>
    <hr />
  </div>
</div>