<div class="row">
  <div class="col-lg-12 text-center">
    <ul class="breadcrumb">
      <li class="active"><a>{{ tournament.Name }}</a></li>
    </ul>
      <h1>
        <span>{{ tournament.Name }}</span>
        <a href="#/tournament/{{tournamentId}}/edit" class="btn btn-xs btn-primary tournamentEditBtn">Rediger
        <span class="glyphicon glyphicon-pencil"></span>
        </a>
      </h1>
      <hr />
      <h3>Rækker</h3>
    <div class="col-md-4 col-md-offset-4" ng-if="new"> 
    </div>

    <!-- Modal -->
    <!-- Create new division modal. The popup where the new division can be created in-->
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title">Tilføj ny række</h3>
        </div>
        <div class="modal-body">
          <form>
            <label class="pull-left">Tilføj banens navn</label>
            <input type="text" class="form-control" ng-model="newDivName" placeholder="Række navn.." />
            <br />
            <label class="pull-left">Tid for kamp</label>
            <div class="panel panel-default">
              <div class="panel-body alert alert-info" role="alert">
                Tiden for en kamp er inklusive den tid det tager holdene at forlade banen og de nye hold at være klar til kamp. Tiden for kampene kan være fra 10 - 70 minutter.
              </div>
            </div>
            <input type="number" class="form-control" ng-model="newMatchDuration" placeholder="Tid pr. kamp for rækken" required="true" ng-model="newMatchDuration" />
            <br />
            <label class="pull-left">Vælg banestørrelse</label>
            <select class="form-control" ng-model="chooseField">
              <option value="11">11-mands bane</option>
              <option value="8">8-mands bane</option>
              <option value="5">5-mands bane</option>
            </select>
          </form>
          <div class="row">
            <div class="col-md-12">
              <div class="alert alert-danger alert-dismissable col-md-6 col-md-offset-3" role="alert" ng-if="error" id="addDivisionError">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="errMsg()">
                  <span aria-hidden="true">&times;</span>
                </button>
                <p> {{error}} </p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="cancel()" data-dismiss="modal">Luk</button>
          <input type="submit" ng-if="newDivName!=''" ng-click="submitNewDiv(newDivName, newMatchDuration, chooseField)" data-dismiss="modal" class="btn btn-primary" value="Gem" />
        </div>
    </script>

    <div class="btn-group-vertical col-md-4 col-md-offset-4" role="group">
      <div class="row">
        <!-- The button from which will make the create new tournament modal pop up -->
        <a class="btn btn-info col-md-12" ng-click="open()" data-keyboard="false" data-backdrop="static" data-toggle="modal" data-target="#myModal" style="white-space: inherit ! important;">Tilføj ny række
          <span class="glyphicon glyphicon-plus pull-right"></span>
        </a>
      </div>
      <div class="row">
        <!-- creates the new division as a link in a button, with its name and it links to the divisions own page -->
        <a ng-click="gotoDivison(division, $index)" ng-repeat="division in divisions track by $index" class="btn btn-default col-md-12" style="white-space: inherit ! important;">
          {{ division.Name }}
        </a>
      </div>
    </div>
    <div class="col-lg-12 text-center">
      <hr />
      <h3>Baner</h3>
        <div class="col-md-4">
          <h4>11-mands baner</h4>
          <div ng-if="newEm">
            <div class="form-inline">
              <div class="form-group">
                <form>
                  <input type="text" ng-model="EmField" class="form-control" placeholder="Indtast banens navn.."/>
                  <input type="submit" ng-if="EmField!=''" ng-click="submitField(EmField, 11)" class="btn btn-primary" value="Tilføj" />
                  <a ng-click="createNewEmField()" class="btn btn-danger">Annuller</a>
                </form> 
              </div>
            </div>  
          </div>
          <div class="btn-group-vertical col-md-12" role="group">
            <div class="row">
              <a ng-if="!newEm" class="btn btn-info col-md-12" ng-click="createNewEmField()" style="white-space: inherit ! important;">
                Tilføj ny 11-mands bane
                <span class="glyphicon glyphicon-plus pull-right"></span>
              </a>
              <a ng-repeat="field in EmFields track by $index" class="btn btn-default col-md-12" style="white-space: inherit ! important;">
                {{ field.Name }}
                <span ng-click="removeField(field)" class="glyphicon glyphicon-remove pull-right"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h4>8-mands baner</h4>
          <div ng-if="newOm">
            <div class="form-inline">
              <div class="form-group">
                <form>
                  <input type="text" ng-model="OmField" class="form-control" placeholder="Indtast banens navn.."/>
                  <input type="submit" ng-if="OmField!=''" ng-click="submitField(OmField, 8)" class="btn btn-primary" value="Tilføj" />
                  <a ng-click="createNewOmField()" class="btn btn-danger">Annuller</a>
                </form> 
              </div>
            </div> 
          </div>
          <div class="btn-group-vertical col-md-12" role="group">
            <div class="row">
              <a ng-if="!newOm" class="btn btn-info col-md-12" ng-click="createNewOmField()" style="white-space: inherit ! important;">
                Tilføj ny 8-mands bane
                <span class="glyphicon glyphicon-plus pull-right"></span>
              </a>
              <a ng-repeat="field in OmFields track by $index" class="btn btn-default col-md-12" style="white-space: inherit ! important;">
                {{ field.Name }}
                <span ng-click="removeField(field)" class="glyphicon glyphicon-remove pull-right"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h4>5-mands baner</h4>
          <div ng-if="newFm">
            <div class="form-inline">
              <div class="form-group">
                <form>
                  <input type="text" ng-model="FmField" class="form-control" placeholder="Indtast banens navn.."/>
                  <input type="submit" ng-if="FmField!=''" ng-click="submitField(FmField, 5)" class="btn btn-primary" value="Tilføj" />
                  <a ng-click="createNewFmField()" class="btn btn-danger">Annuller</a>
                </form> 
              </div>
            </div>  
          </div>
          <div class="btn-group-vertical col-md-12" role="group">
            <div class="row">
              <a ng-if="!newFm" class="btn btn-info col-md-12" ng-click="createNewFmField()" style="white-space: inherit ! important;">
                Tilføj ny 5-mands bane
                <span class="glyphicon glyphicon-plus pull-right"></span>
              </a>
              <a ng-repeat="field in FmFields track by $index" class="btn btn-default col-md-12" style="white-space: inherit ! important;">
                {{ field.Name }}
                <span ng-click="removeField(field)" class="glyphicon glyphicon-remove pull-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    <div ng-if="tournament.isValid" class="col-md-12 add-button">
      <hr />
      <a ng-click="scheduleTournament()" class="btn btn-primary btn-lg" style="white-space: inherit ! important;">Schedule
        <span class="glyphicon glyphicon-list-alt"> </span>
      </a>
    </div>
  </div>
</div>
