<div class="row">
  <div class="col-lg-12 text-center">
    <ul class="breadcrumb">
      <li><a href="#/">Forside</a></li>
      <li><a href="#/addTournament">Opret ny turnering</a></li>
      <li class="active"><a href="#/tournament">Rækkesoversigt</a></li>
    </ul>
      <h1>
        <span>Turneringsoversigt</span>
        <a ng-click="editUser(user.id)" class="btn btn-xs btn-primary tournamentEditBtn">Rediger
        <span class="glyphicon glyphicon-pencil"></span>
        </a>
      </h1>
      <hr />
      <h3>Rækker</h3>
    <div class="col-md-4 col-md-offset-4" ng-if="new"> 
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="createNew()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Tilføj ny række</h4>
          </div>
          <div class="modal-body">
            <form>
              <label class="pull-left">Tilføj banens navn</label>
              <input type="text" class="form-control" ng-model="newDivName" placeholder="Række navn.." required="true" />
              <label class="pull-left">Tid for kamp</label>
              <div class="panel panel-default">
                <div class="panel-body">
                  Tiden for en kamp er inklusive den tid det tager holdene at forlade banen og de nye hold at være klar til kamp
                </div>
              </div>
              <input type="number" class="form-control" ng-model="newMatchDuration" placeholder="Tid pr. kamp for rækken" min="10" max="70" required="true" ng-model="newMatchDuration" />
              <label class="pull-left">Vælg banestørrelse</label>
              <select class="form-control" ng-model="chooseField">
                <option value="11">11-mands bane</option>
                <option value="8">8-mands bane</option>
                <option value="5">5-mands bane</option>
              </select>
            </form> 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="createNew()" data-dismiss="modal">Luk</button>
            <input type="submit" ng-click="submitNewDiv(newDivName, newMatchDuration, chooseField)" class="btn btn-primary" value="Gem" />
          </div>
        </div>
      </div>
    </div>
    <div class="btn-group-vertical col-md-4 col-md-offset-4" role="group">
      <div class="row">
        <a ng-if="!new" class="btn btn-default col-md-12" ng-click="createNew()" data-keyboard="false" data-backdrop="static" data-toggle="modal" data-target="#myModal" style="white-space: inherit ! important;">Tilføj ny række
          <span class="glyphicon glyphicon-plus pull-right"></span>
        </a>
      </div>
      <div class="row">
        <a ng-click="gotoDivison(division, $index)" ng-repeat="division in divisions track by $index" class="btn btn-default col-md-12" style="white-space: inherit ! important;">
          {{ division.Name }}
        </a>
      </div>
    </div>
    <div class="col-lg-12 text-center">
      <hr />
      <h3>Baner</h3>
      <div class="fieldHeadings">
        <div class="col-md-4">
          <h4>11-mands baner</h4>
          <div ng-if="newEm">
            <form>
              <input type="text" ng-model="newFieldName" />
              <input type="submit" ng-click="submitEmField(newFieldName)" class="btn btn-default" value="Submit" /><a ng-click="createNewEmField()" class="btn btn-default">Annuller</a>
            </form>  
          </div>
          <div class="btn-group-vertical col-md-12" role="group">
            <div class="row">
              <a ng-if="!newEm" class="btn btn-default col-md-12" ng-click="createNewEmField()" style="white-space: inherit ! important;">
                Tilføj ny 11-mands bane
                <span class="glyphicon glyphicon-plus pull-right"></span>
              </a>
              <a ng-repeat="field in EmFields track by $index" class="btn btn-default col-md-12" style="white-space: inherit ! important;">
                {{ field }}
                <span ng-click="removeEmField($index)" class="glyphicon glyphicon-remove pull-right"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h4>8-mands baner</h4>
          <div ng-if="newOm">
            <form>
              <input type="text" ng-model="newFieldName" />
              <input type="submit" ng-click="submitOmField(newFieldName)" class="btn btn-default" value="Submit" /><a ng-click="createNewOmField()" class="btn btn-default">Annuller</a>
            </form>  
          </div>
          <div class="btn-group-vertical col-md-12" role="group">
            <div class="row">
              <a ng-if="!newOm" class="btn btn-default col-md-12" ng-click="createNewOmField()" style="white-space: inherit ! important;">
                Tilføj ny 8-mands bane
                <span class="glyphicon glyphicon-plus pull-right"></span>
              </a>
              <a ng-repeat="field in OmFields track by $index" class="btn btn-default col-md-12" style="white-space: inherit ! important;">
                {{ field }}
                <span ng-click="removeOmField($index)" class="glyphicon glyphicon-remove pull-right"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h4>5-mands baner</h4>
          <div ng-if="newFm">
            <form>
              <input type="text" ng-model="newFieldName" />
              <input type="submit" ng-click="submitFmField(newFieldName)" class="btn btn-default" value="Submit" /><a ng-click="createNewFmField()" class="btn btn-default">Annuller</a>
            </form>  
          </div>
          <div class="btn-group-vertical col-md-12" role="group">
            <div class="row">
              <a ng-if="!newFm" class="btn btn-default col-md-12" ng-click="createNewFmField()" style="white-space: inherit ! important;">
                Tilføj ny 5-mands bane
                <span class="glyphicon glyphicon-plus pull-right"></span>
              </a>
              <a ng-repeat="field in FmFields track by $index" class="btn btn-default col-md-12" style="white-space: inherit ! important;">
                {{ field }}
                <span ng-click="removeFmField($index)" class="glyphicon glyphicon-remove pull-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    <div class="col-md-12 add-button">
      <hr />
      <a href="#/FinalStage"  class="btn btn-default btn-lg" style="white-space: inherit ! important;">Fortsæt
        <span class="glyphicon glyphicon-arrow-right"> </span>
      </a>
    </div>
  </div>
</div>
