.tlist{
	width: 200px;
}

.brugerInput{
	background-color: #fff;
}

.upload-excel {
	margin-top: 15px;
}

.upload-excel input {
	vertical-align: center;
}

.add-button button {
	margin-top: 10px;
}

body {
  padding-top: 70px;
  /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  
.partially button span {
	background-color: orange;
  border-radius: 32px;
  color: black;
}

.pools {
  margin-bottom: 10px;
}

#uploadHeading {
  text-align: left;
}

.finals-select {
  margin-top: 10px;
}

#kodeord {
  margin-bottom: 25px;
}

.poolLink{
  color: #000;
  text-align: center;
}

.poolLink:hover {
  text-decoration: underline;
  color: #5a5a5a;
}

#banner {
  width:auto;
  overflow:hidden;
  margin-top: -25px;
  border-radius: 10px;
}

#banner img {
  width: 100%;
}

.footer {
  margin-top: 250px;
}

.navbar-brand img{
  height: 175%;
  margin-top: -6px;
  display: inline;
}

@media handheld, only screen and (max-width: 400px){ 
   div#banner { display:none; 
}