.tlist{
	width: 200px;
}

.brugerInput{
	background-color: #fff;
}

.upload-excel {
	margin-top: 15px;
}

.upload-excel input {
	vertical-align: center;
}

.add-button button {
	margin-top: 10px;
}

body {
  padding-top: 70px;
  /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  
.partially button span {
	background-color: orange;
  border-radius: 32px;
  color: black;
}

.pools {
  margin-bottom: 10px;
}

#uploadHeading {
  text-align: left;
}

.finals-select {
  margin-top: 10px;
}

#kodeord {

}

.poolLink{
  color: #fff;
}

.poolLink:hover {
  text-decoration: none;
}

#banner {
  width:auto;
  overflow:hidden;
  margin-top: -25px;
  border-radius: 10px;
}

#banner img {
  width: 100%;
}

.footer {
  margin-top: 250px;

}

.navbar-brand img{
  height: 175%;
  margin-top: -6px;
  display: inline;
}

#errorMsg {
  margin-top: 10px;
  width: 80%;
  margin-left: 10%;
}

#NewTournamentButton {
  margin-top: 10px;
}

.navbar-fixed-bottom {
  background-color: #222;
}

.panel {
  margin-bottom: 0px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.panel-body {
  font-size: 12px;
  margin: -5px;
}

#divisionBtn {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

#uploadHeading {
  text-align: center;
}

.toTop {
  color: #808080;
  margin-top: 15px;
}

#puljeHeading {
  margin-top: 50px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

@media handheld, only screen and (max-width: 400px){ 
   div#banner { display:none; 
}